<div class="wrapper">
    <div class="header header-filter" style="background-image: url('assets/img/examples/a.jpg');">
        <div class="container">
            <div class="row">
				<div class="col-md-6">
					<h1 class="title">OTP Sending Service</h1>
                    <h4>Send OTP to any contact from given contact list.</h4>
                    <br />
                    <a href="/contacts" class="btn btn-danger btn-raised btn-lg">
						<i class="fa fa-paper-plane"></i>&nbsp;&nbsp;&nbsp; Satrt sending Messages
					</a>
				</div>
            </div>
        </div>
    </div>
</div>